@charset "utf-8";

/************************************************

					setting

*************************************************/
* {
	outline: 0;
	box-sizing: border-box;
}
html,body {
	width: 100%;
	height: 100%;
    min-width: 320px;
	background-color: #ffffff;
	font-weight: 400;
	font-family: 'NanumSquareRound', 'NanumSquare', 'NanumGothic', sans-serif;
	letter-spacing: 0px;
    overflow-y: auto;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
input[type="submit"],input[type="button"],input[type="text"],input[type="password"],textarea {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	-ms-appearance: none !important;
	appearance: none !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
	border-radius: 0;
	border: none;
    font-family: 'dotum', sans-serif !important;
}
input[type="submit"],input[type="checkbox"],input[type="radio"],input[type="button"],button,select,label {
	cursor: pointer;
}
select {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	-ms-appearance: none !important;
	appearance: none !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
	border-radius: 0;
	background: #ffffff url('../img/down_arrow.png') no-repeat 95% center;
    background-size: 10px auto;
}
select::-ms-expand {
	display: none;
}
input::-webkit-input-placeholder {
	color: #9f9f9f;
}
input::-moz-placeholder {
	color: #9f9f9f;
}
input::-ms-input-placeholder {
	color: #9f9f9f;
}
textarea::-webkit-input-placeholder {
	color: #9f9f9f !important;
}
textarea::-moz-placeholder {
	color: #9f9f9f !important;
}
textarea::-ms-input-placeholder {
	color: #9f9f9f !important;
}
img {
	vertical-align: middle;
}
p,span,th,td {
    word-break: keep-all;
}
header,nav,section,article,footer {
    display: block;
}
#wrap {
	width: 100%;
	height: 100%;
	position: relative;
	clear: both;
}
.not_view {
	width: 0;
	height: 0;
	position: absolute;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}
/* header 사용 */
.center_ct {
	width: 94%;
	max-width: 1840px;
	margin: 0 auto;
}
/* footer, content 사용 */
.center_ct2 {
	width: 94%;
	max-width: 1400px;
	margin: 0 auto;
}
/* content_top 사용 */
.center_ct3 {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}
.cf:after {
	content: '';
	clear: both;
	display: block;
}
.br_view {
    display: none;
}
.br_none {
    display: block;
}
.tit_pc {
    display: inline-block;
}
.tit_mobile {
    display: none;
}
.con_pc {
    display: block;
}
.con_mobile {
    display: none;
}
.table_pc {
    display: table;
}
.table_mobile {
    display: none;
}
.img_pc {
    display: inline-block;
}
.img_mobile {
    display: none;
}

@media screen and (max-width: 1800px) {
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1080px) {
    select {
        background: #ffffff url('../img/down_arrow.png') no-repeat 95% center;
        background-size: 21px auto;
    }
    .tit_pc {
        display: none;
    }
    .tit_mobile {
        display: inline-block;
    }
    .con_pc {
        display: none;
    }
    .con_mobile {
        display: block;
    }
    .table_pc {
        display: none;
    }
    .table_mobile {
        display: table;
    }
    .img_pc {
        display: none;
    }
    .img_mobile {
        display: inline-block;
    }
}

@media screen and (max-width: 900px) {
    select {
        background: #ffffff url('../img/down_arrow.png') no-repeat 95% center;
        background-size: 16px auto;
    }
}

@media screen and (max-width: 700px) {
    select {
        background: #ffffff url('../img/down_arrow.png') no-repeat 95% center;
        background-size: 11px auto;
    }
}

@media screen and (max-width: 550px) {
    select {
        background: #ffffff url('../img/down_arrow.png') no-repeat 95% center;
        background-size: 6px auto;
    }
}

@media screen and (max-width: 450px) {
}

/************************************************

					header

*************************************************/
header.header {
    width: 100%;
    height: 9.063em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: transparent;
    font-size: 16px;
    line-height: 1em;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
	transition: all 0.5s;
}

header.header .header_top {
    width: 100%;
    height: 3.125em;
    line-height: 3.125em;
    border-bottom: 1px solid #e2e2e2;
    text-align: right;
    position: relative;
}
header.header .main_header_top {
    background-color: #27272f;
    border-bottom: 1px solid #27272f;
}
header.header .header_top>.center_ct {
    position: absolute;
    top: 0;
    left: 3%;
    margin-left: 0;
}
header.header .header_top .header_top_menu {
    width: auto;
    height: 3.125em;
    float: right;
}
header.header .header_top .header_top_menu>li {
    display: inline-block;
    color: #111111;
    font-size: 0.938em;
    font-weight: 600;
    letter-spacing: -0.04em;
}
header.header .main_header_top .header_top_menu>li {
    color: #ffffff;
}
header.header .header_top .header_top_menu>li>a {
    display: block;
    margin-left: 1.133em;
    color: #111111;
}
header.header .main_header_top .header_top_menu>li>a {
    color: #ffffff;
}
header.header .header_top .header_top_menu>li>a>p {
    display: inline-block;
}
header.header .header_top .header_top_menu>li>a>span {
    display: inline-block;
}
header.header .header_top .header_top_menu>li>a>span>img {
    padding-right: 0.2em;
}
header.header .header_top .header_top_short_cut {
    width: auto;
    height: 3.333em;
    float: right;
    color: #ffffff;
    font-size: 0.938em;
    font-weight: 600;
    letter-spacing: -0.04em;
    text-align: center;
    vertical-align: top;
    margin-left: 1.333em;
    padding: 0 1.333em;
}
header.header .main_header_top .header_top_short_cut {
    float: left;
    margin-left: 0;
}
.header_dc .header_top .header_top_short_cut {
    background-color: #f7920e;
}
.header_fc .header_top .header_top_short_cut {
    background-color: #007efd;
}
header.header .header_top .header_top_short_cut>p {
    display: inline-block;
}
header.header .header_top .header_top_short_cut>span {
    display: inline-block;
}
header.header .header_top .header_top_short_cut>span>img{
    padding-left: 0.667em;
}

header.header .header_main {
    width: 100%;
    height: 5.938em;
    line-height: 5.938em;
    position: relative;
}
header.header .header_main>.center_ct {
    height: 100%;
    position: relative;
}
header.header .header_main .header_main_logo {
    width: 23.54%;
    height: 5.938em;
    position: absolute;
    top: 0;
    left: 0;
}
header.header .header_main .header_main_logo>a>img {
    width: auto;
    height: auto;
    max-width: 93.36%;
    margin-right: 6.64%;
}
header.header .header_main .header_main_menu {
    width: 5.94%;
    height: 5.938em;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}
header.header .header_main .header_main_menu .header_main_menu_item {
    width: 23.68%;
    height: auto;
    display: inline-block;
    margin-left: 24.32%;
    vertical-align: middle;
}
header.header .header_main .header_main_menu .header_main_menu_item>a>img {
    width: auto;
    height: auto;
    max-width: 100%;
}
header.header .header_main .header_main_menu .header_main_menu_item .sitemap_btn {
    width: 100%;
    height: auto;
    cursor: pointer;
}
header.header .header_main .header_main_menu .header_main_menu_item .sitemap_btn .sitemap_line {
    width: 100%;
    height: 2px;
    background-color: #111111;
    float: right;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
	transition: all 0.5s;
}
header.header .header_main .header_main_menu .header_main_menu_item .sitemap_btn .sitemap_line2 {
    width: 70%;
    margin: 0.438em 0;
    text-align: right;
}

@media screen and (min-width: 1975px) {
    header.header .header_top>.center_ct {
        left: 50%;
        margin-left: -920px;
    }
}

@media screen and (max-width: 1800px) {
    header.header {
        font-size: 15px;
    }
    header.header .header_main .header_main_menu .header_main_menu_item {
        margin-left: 23.92%;
    }
    header.header .header_main .header_main_menu .header_main_menu_item .sitemap_btn .sitemap_line2 {
        margin: 0.4em 0;
    }
}

@media screen and (max-width: 1400px) {
    header.header {
        font-size: 14px;
    }
    header.header .header_main .header_main_menu .header_main_menu_item {
        margin-left: 23.32%;
    }
    header.header .header_main .header_main_menu .header_main_menu_item .sitemap_btn .sitemap_line2 {
        margin: 0.357em 0;
    }
}

@media screen and (max-width: 1080px) {
    header.header {
        display: none;
    }
}

/************************************************

					nav

*************************************************/
nav.nav {
    width: 70.52%;
    height: 5.938em;
    margin: 0 5.94% 0 23.54%;
}
nav.nav .nav_menu {
    text-align: right;
}
nav.nav .nav_menu>li {
    width: auto;
    height: auto;
    margin: 0 2.22%;
    display: inline-block;
    text-align: center;
    position: relative;
}
nav.nav .nav_menu>li .nav_menu_tit {
    color: #111111;
    font-size: 1.188em;
    line-height: 1.684em;
    font-weight: 800;
    letter-spacing: -0.04em;
    margin: 1.632em 0;
    display: inline-block;
    cursor: pointer;
}
.header_dc nav.nav .nav_menu>li .nav_menu_tit:hover {
    color: #007efd;
    border-bottom: 3px solid #007efd;
}
.header_fc nav.nav .nav_menu>li .nav_menu_tit:hover {
    color: #f7920e;
    border-bottom: 3px solid #f7920e;
}
nav.nav .nav_menu>li .nav_sub_menu {
    width: 16.875em;
    height: auto;
    position: absolute;
    top: 5.938em;
    left: -2.5em;
    background-color: #ffffff;
    padding: 1.313em 1.875em;
    display: none;
}
.header_dc nav.nav .nav_menu>li .nav_sub_menu {
    border: 1px solid #007efd;
}
.header_fc nav.nav .nav_menu>li .nav_sub_menu {
    border: 1px solid #f7920e;
}
.nav_menu>li .nav_sub_menu>li {
    text-align: left;
    color: #666666;
    font-size: 1em;
    line-height: 2.188em;
    font-weight: 600;
    letter-spacing: -0.04em;
}
.nav_menu>li .nav_sub_menu>li>a {
    display: block;
    color: #666666;
}
.header_dc .nav_menu>li .nav_sub_menu>li>a:hover {
    color: #007efd;
}
.header_fc .nav_menu>li .nav_sub_menu>li>a:hover {
    color: #f7920e;
}
.nav_menu>li .nav_sub_menu>li .nav_sub_menu_tit {
    cursor: pointer;
}
.header_dc .nav_menu>li .nav_sub_menu>li .nav_sub_menu_tit.on {
    color: #007efd;
}
.header_fc .nav_menu>li .nav_sub_menu>li .nav_sub_menu_tit.on {
    color: #f7920e;
}
.header_dc .nav_menu>li .nav_sub_menu>li .nav_sub_menu_tit:hover {
    color: #007efd;
}
.header_fc .nav_menu>li .nav_sub_menu>li .nav_sub_menu_tit:hover {
    color: #f7920e;
}
.nav_menu>li .nav_sub_menu>li .nav_sub_menu_tit:after {
    content: '';
    width: 1.063em;
    height: 1.063em;
    display: inline-block;
    background: url('../img/down_arrow_default.png') no-repeat center;
    background-size: 100% auto;
    vertical-align: text-bottom;
    margin-left: 0.563em;
}
.header_dc .nav_menu>li .nav_sub_menu>li .nav_sub_menu_tit.on:after {
    content: '';
    background: url('../img/up_arrow_dc.png') no-repeat center;
    background-size: 100% auto;
}
.header_fc .nav_menu>li .nav_sub_menu>li .nav_sub_menu_tit.on:after {
    content: '';
    background: url('../img/up_arrow_fc.png') no-repeat center;
    background-size: 100% auto;
}
.nav_menu>li .nav_sub_menu>li .nav_sub_sub_menu {
    display: none;
}
.nav_menu>li .nav_sub_menu>li .nav_sub_sub_menu>li {
    font-size: 0.938em;
    line-height: 2em;
}
.nav_menu>li .nav_sub_menu>li .nav_sub_sub_menu>li:before {
    content: '-';
    display: inline-block;
}
.nav_menu>li .nav_sub_menu>li .nav_sub_sub_menu>li>a {
    color: #666666;
}
.nav_menu>li .nav_sub_menu>li .nav_sub_sub_menu>li>a:hover {
    color: #111111;
    border-bottom: 1px solid #111111;
}

@media screen and (max-width: 1800px) {
    nav.nav .nav_menu>li {
        margin: 0 1.82%;
    }
    nav.nav .nav_menu>li .nav_menu_tit {
        font-size: 1.125em;
    }
    nav.nav .nav_menu>li .nav_sub_menu {
        width: 15.625em;
    }
    .nav_menu>li .nav_sub_menu>li {
        font-size: 0.938em;
    }
    .nav_menu>li .nav_sub_menu>li .nav_sub_menu_tit:after {
        width: 1em;
        height: 1em;
    }
    .nav_menu>li .nav_sub_menu>li .nav_sub_sub_menu>li {
        font-size: 0.875em;
    }
}

@media screen and (max-width: 1400px) {
    nav.nav .nav_menu>li {
        margin: 0 1.62%;
    }
    nav.nav .nav_menu>li .nav_menu_tit {
        font-size: 1.063em;
    }
    nav.nav .nav_menu>li .nav_sub_menu {
        width: 14.375em;
        padding: 0.688em 1.25em;
    }
    .nav_menu>li .nav_sub_menu>li {
        font-size: 0.875em;
    }
    .nav_menu>li .nav_sub_menu>li .nav_sub_menu_tit:after {
        width: 0.938em;
        height: 0.938em;
    }
    .nav_menu>li .nav_sub_menu>li .nav_sub_sub_menu>li {
        font-size: 0.813em;
    }
}

@media screen and (max-width: 1200px) {
    nav.nav .nav_menu>li {
        margin: 0 1.02%;
    }
}

/************************************************

					aside

*************************************************/
aside.aside {
    width: 100%;
    height: auto;
    position: absolute;
    top: 5.938em;
    left: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
    display: none;
}
.header_dc aside.aside {
    border-top: 1px solid #007efd;
}
.header_fc aside.aside {
    border-top: 1px solid #f7920e;
}
aside.aside .nav_menu {
    width: 100%;
    height: auto;
    display: table;
}
aside.aside .nav_menu>li {
    width: 14.28%;
    height: auto;
    display: table-cell;
    text-align: left;
    border-left: 1px solid #e1e1e1;
}
aside.aside .nav_menu>li:first-child {
    border-left: none;
}
aside.aside .nav_menu>li .nav_sub_menu {
    width: 100%;
    height: auto;
    padding: 0.688em 1.25em;
}

@media screen and (max-width: 1800px) {
    aside.aside .nav_menu>li .nav_sub_menu {
        padding: 0.688em 0.938em;
    }
}

@media screen and (max-width: 1400px) {
    aside.aside .nav_menu>li .nav_sub_menu {
        padding: 0.688em 0.625em;
    }
}

/************************************************

					mobile

*************************************************/
.mb_area {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: transparent;
    font-size: 30px;
    line-height: 1em;
	display: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
	transition: all 0.5s;
}
.mb_area .header_main_logo {
	width: 77.96%;
    height: auto;
    /*position: absolute;
	top: 0;
	left: 3%;*/
    float: left;
    padding: 5.55% 0;
}
.mb_area .header_main_logo>a>img {
	width: auto;
	height: auto;
    max-width: 100%;
}
.mb_area .header_main_menu {
    width: 22.04%;
    height: auto;
    /*position: absolute;
	top: 0;
	right: 3%;*/
    float: right;
    text-align: right;
    padding: 6.85% 0;
}
.mb_area .header_main_menu .mb_btn {
	width: 2em;
    display: inline-block;
    vertical-align: middle;
	cursor: pointer;
}
.mb_area .header_main_menu .mb_btn .line {
	width: 100%;
	height: 6px;
	background-color: #111111;
    float: right;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
	transition: all 0.5s;
}
.mb_area .header_main_menu .mb_btn .line2 {
    width: 70%;
	margin: 0.5em 0;
    text-align: right;
}
.mb_area .header_main_menu .mb_btn:hover .line2 {
    width: 100%;
}
.mb_area .mb_menu {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: -1;
    background-color: #000000;
    opacity: 0.5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
	display: none;
}
.mb_area .mb_box {
	width: 80%;
	height: 100%;
	position: fixed;
	top: 0;
	right: -80%;
	z-index: 999;
	background-color: #ffffff;
	box-sizing: border-box;
	overflow-y: scroll;
	-ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
	transition: 0.5s;
}
.mb_area .mb_box::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
.mb_area .mb_box .header_main_close {
    width: 90%;
    height: auto;
    text-align: right;
    padding: 7.87% 0 2.77%;
    margin: 0 auto;
}
.mb_area .mb_box .header_main_close .mb_close_btn {
    display: inline-block;
    cursor: pointer;
}
.mb_area .mb_box .header_main_close .mb_close_btn img {
    width: 46px;
    height: auto;
}
.mb_area .mb_box .nav_menu {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 7.87%;
}
.mb_area .mb_box .nav_menu>li {
    width: 100%;
    height: auto;
    color: #111111;
    font-size: 1.4em;
    line-height: 1.2em;
    font-weight: 800;
    letter-spacing: -0.04em;
}
.mb_area .mb_box .nav_menu>li>a {
    display: block;
    padding: 2.77% 0;
}
.mb_area.mb_dc .mb_box .nav_menu>li>a:hover {
    color: #007efd;
}
.mb_area.mb_fc .mb_box .nav_menu>li>a:hover {
    color: #f7920e;
}
.mb_area .mb_box .nav_menu>li .nav_menu_tit {
    background: url('../img/m_menu_show_default.png') no-repeat right center;
    background-size: 30px auto;
    padding: 2.77% 0;
    cursor: pointer;
}
.mb_area.mb_dc .mb_box .nav_menu>li .nav_menu_tit:hover {
    color: #007efd;
}
.mb_area.mb_fc .mb_box .nav_menu>li .nav_menu_tit:hover {
    color: #f7920e;
}
.mb_area.mb_dc .mb_box .nav_menu>li .nav_menu_tit.rotate {
    color: #007efd;
    background: url('../img/m_menu_hide_dc.png') no-repeat right center;
    background-size: 30px auto;
}
.mb_area.mb_fc .mb_box .nav_menu>li .nav_menu_tit.rotate {
    color: #f7920e;
    background: url('../img/m_menu_hide_fc.png') no-repeat right center;
    background-size: 30px auto;
}
.mb_area .mb_box .nav_menu>li .nav_sub_menu {
    display: none;
}
.mb_area .mb_box .nav_menu>li .nav_sub_menu>li {
    color: #111111;
    font-size: 0.714em;
    line-height: 1.2em;
    padding: 1.85% 0;
}
.mb_area .mb_box .nav_menu>li .nav_sub_menu>li>a {
    color: #111111;
}
.mb_area.mb_dc .mb_box .nav_menu>li .nav_sub_menu>li>a:hover {
    color: #007efd;
}
.mb_area.mb_fc .mb_box .nav_menu>li .nav_sub_menu>li>a:hover {
    color: #f7920e;
}
.mb_area .mb_box .nav_menu>li .nav_sub_menu>li .nav_sub_menu_tit {
    padding-bottom: 1.85%;
}
.mb_area .mb_box .nav_menu>li .nav_sub_menu>li .nav_sub_menu_tit:after {
    content: '';
    width: 0;
    height: 0;
    display: none;
    background: none;
    margin: 0;
}
.mb_area.mb_dc .mb_box .nav_menu>li .nav_sub_menu>li .nav_sub_menu_tit:hover {
    color: #007efd;
}
.mb_area.mb_fc .mb_box .nav_menu>li .nav_sub_menu>li .nav_sub_menu_tit:hover {
    color: #f7920e;
}
.mb_area .mb_box .nav_menu>li .nav_sub_menu>li .nav_sub_sub_menu {
    display: block;
}
.mb_area .mb_box .nav_menu>li .nav_sub_menu>li .nav_sub_sub_menu>li {
    color: #666666;
    font-size: 0.9em;
    line-height: 1.2em;
    font-weight: 400;
    padding: 1.38% 0;
}
.mb_area .mb_box .nav_menu>li .nav_sub_menu>li .nav_sub_sub_menu>li:before {
    content: '';
    width: 4px;
    height: 4px;
    display: inline-block;
    vertical-align: middle;
    background-color: #666666;
    margin: 0 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.mb_area .mb_box .nav_menu>li .nav_sub_menu>li .nav_sub_sub_menu>li>a {
    color: #666666;
}
.mb_area .mb_box .nav_menu>li .nav_sub_menu>li .nav_sub_sub_menu>li>a:hover {
    color: #111111;
    border-bottom: 1px solid #111111;
}

@media screen and (max-width: 1080px) {
	.mb_area {
		display: block;
	}
}

@media screen and (max-width: 900px) {
    .mb_area {
        font-size: 25px;
    }
    .mb_area .header_main_menu .mb_btn .line {
        height: 5px;
    }
    .mb_area .mb_box .header_main_close .mb_close_btn img {
        width: 41px;
    }
    .mb_area .mb_box .nav_menu>li .nav_menu_tit {
        background: url('../img/m_menu_show_default.png') no-repeat right center;
        background-size: 25px auto;
    }
    .mb_area.mb_dc .mb_box .nav_menu>li .nav_menu_tit.rotate {
        background: url('../img/m_menu_hide_dc.png') no-repeat right center;
        background-size: 25px auto;
    }
    .mb_area.mb_fc .mb_box .nav_menu>li .nav_menu_tit.rotate {
        background: url('../img/m_menu_hide_fc.png') no-repeat right center;
        background-size: 25px auto;
    }
    .mb_area .mb_box .nav_menu>li .nav_sub_menu>li .nav_sub_sub_menu>li:before {
        width: 3px;
        height: 3px;
        margin: 0 4px;
    }
}

@media screen and (max-width: 700px) {
    .mb_area {
        font-size: 20px;
    }
    .mb_area .header_main_menu .mb_btn .line {
        height: 4px;
    }
    .mb_area .mb_box .header_main_close .mb_close_btn img {
        width: 36px;
    }
    .mb_area .mb_box .nav_menu>li .nav_menu_tit {
        background: url('../img/m_menu_show_default.png') no-repeat right center;
        background-size: 20px auto;
    }
    .mb_area.mb_dc .mb_box .nav_menu>li .nav_menu_tit.rotate {
        background: url('../img/m_menu_hide_dc.png') no-repeat right center;
        background-size: 20px auto;
    }
    .mb_area.mb_fc .mb_box .nav_menu>li .nav_menu_tit.rotate {
        background: url('../img/m_menu_hide_fc.png') no-repeat right center;
        background-size: 20px auto;
    }
    .mb_area .mb_box .nav_menu>li .nav_sub_menu>li .nav_sub_sub_menu>li:before {
        width: 2px;
        height: 2px;
        margin: 0 3px;
    }
}

@media screen and (max-width: 550px) {
	.mb_area {
        font-size: 15px;
    }
    .mb_area .header_main_menu .mb_btn .line {
        height: 3px;
    }
    .mb_area .mb_box .header_main_close .mb_close_btn img {
        width: 31px;
    }
    .mb_area .mb_box .nav_menu>li .nav_menu_tit {
        background: url('../img/m_menu_show_default.png') no-repeat right center;
        background-size: 15px auto;
    }
    .mb_area.mb_dc .mb_box .nav_menu>li .nav_menu_tit.rotate {
        background: url('../img/m_menu_hide_dc.png') no-repeat right center;
        background-size: 15px auto;
    }
    .mb_area.mb_fc .mb_box .nav_menu>li .nav_menu_tit.rotate {
        background: url('../img/m_menu_hide_fc.png') no-repeat right center;
        background-size: 15px auto;
    }
}

@media screen and (max-width: 450px) {
    .mb_area {
        font-size: 12px;
    }
    .mb_area .header_main_menu .mb_btn .line {
        height: 2px;
    }
    .mb_area .mb_box .header_main_close .mb_close_btn img {
        width: 26px;
    }
    .mb_area .mb_box .nav_menu>li .nav_menu_tit {
        background: url('../img/m_menu_show_default.png') no-repeat right center;
        background-size: 10px auto;
    }
    .mb_area.mb_dc .mb_box .nav_menu>li .nav_menu_tit.rotate {
        background: url('../img/m_menu_hide_dc.png') no-repeat right center;
        background-size: 10px auto;
    }
    .mb_area.mb_fc .mb_box .nav_menu>li .nav_menu_tit.rotate {
        background: url('../img/m_menu_hide_fc.png') no-repeat right center;
        background-size: 10px auto;
    }
}

/************************************************

					footer

*************************************************/
footer.footer {
    width: 100%;
    height: 12.813em;
    font-size: 16px;
    line-height: 1em;
}

footer.footer .footer_top {
    width: 100%;
    height: 3.188em;
    line-height: 3.188em;
    background-color: #ffffff;
    border-top: 1px solid #e1e1e1;
}
footer.footer .footer_top .footer_top_select {
    width: 25%;
    height: auto;
    float: left;
    border-right: 1px solid #e1e1e1;
    padding: 0 1.04%;
    position: relative;
}
footer.footer .footer_top .footer_top_select:first-child {
    border-left: 1px solid #e1e1e1;
}
footer.footer .footer_top .footer_top_select .footer_top_select_tit {
    color: #111111;
    font-size: 1em;
    line-height: 3.125em;
    font-weight: 600;
    letter-spacing: -0.04em;
    cursor: pointer;
    background: url('../img/up_arrow.png') no-repeat right center;
    background-size: 10px auto;
}
footer.footer .footer_top .footer_top_select .footer_top_select_tit.on {
    background: url('../img/down_arrow.png') no-repeat right center;
    background-size: 10px auto;
}
footer.footer .footer_top .footer_top_select .footer_top_select_list {
    width: calc(100% + 2px);
    height: auto;
    position: absolute;
    bottom: 3.188em;
    left: -1px;
    z-index: 9;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-bottom: none;
    padding: 0.813em 5.7%;
    display: none;
}
footer.footer .footer_top .footer_top_select .footer_top_select_list>li {
    color: #666666;
    font-size: 0.938em;
    line-height: 2em;
    letter-spacing: -0.04em;
}
footer.footer .footer_top .footer_top_select .footer_top_select_list>li>a {
    display: block;
    color: #666666;
}
footer.footer .footer_top .footer_top_select .footer_top_select_list>li>a:hover {
    color: #111111;
    font-weight: 600;
}

footer.footer .footer_main {
    width: 100%;
    height: 9.625em;
    background-color: #282c2f;
}
footer.footer .footer_main .footer_main_logo {
    width: 18.44%;
    height: 9.625em;
    line-height: 9.625em;
    display: inline-block;
    vertical-align: middle;
}
footer.footer .footer_main .footer_main_logo>a>img {
    width: auto;
    height: auto;
    max-width: 83.05%;
    margin-right: 16.95%;
}
footer.footer .footer_main .footer_main_txt {
    width: 81.26%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
footer.footer .footer_main .footer_main_txt .footer_main_menu>li {
    display: inline-block;
    color: #aaaaaa;
    font-size: 0.938em;
    line-height: 1.667em;
    letter-spacing: -0.04em;
}
footer.footer .footer_main .footer_main_txt .footer_main_menu>li:before {
    content: '|';
    display: inline-block;
    margin: 0 1em;
}
footer.footer .footer_main .footer_main_txt .footer_main_menu>li:first-child:before {
    content: '';
    display: none;
    margin: 0;
}
footer.footer .footer_main .footer_main_txt .footer_main_menu>li>a {
    color: #aaaaaa;
    line-height: 0.8em;
}
footer.footer .footer_main .footer_main_txt .footer_main_menu>li.policy_dc>a {
    color: #ffffff;
}
footer.footer .footer_main .footer_main_txt .footer_main_menu>li.policy_fc>a {
    color: #f7920e;
}
footer.footer .footer_main .footer_main_info {
    color: #666666;
    font-size: 0.938em;
    line-height: 1.667em;
    font-weight: 300;
    letter-spacing: -0.04em;
    margin-top: 1.333em;
}

@media screen and (max-width: 1800px) {
    footer.footer {
        font-size: 15px;
    }
}

@media screen and (max-width: 1400px) {
    footer.footer {
        font-size: 14px;
    }
    footer.footer .footer_main .footer_main_txt {
        width: 81.16%;
    }
}

@media screen and (max-width: 1080px) {
    footer.footer {
        height: auto;
        font-size: 30px;
    }
    footer.footer .footer_top {
        display: none;
    }
    footer.footer .footer_main {
        height: auto;
    }
    footer.footer .footer_main .footer_main_logo {
        width: 44.16%;
        height: auto;
        line-height: 1em;
        text-align: center;
        margin: 0 auto;
        padding: 4.62% 0;
        display: block;
    }
    footer.footer .footer_main .footer_main_logo>a>img {
        max-width: 100%;
        margin-right: 0;
    }
    footer.footer .footer_main .footer_main_txt {
        width: 100%;
        text-align: center;
    }
    footer.footer .footer_main .footer_main_txt .footer_main_menu>li {
        font-size: 0.9em;
        line-height: 1em;
    }
    footer.footer .footer_main .footer_main_txt .footer_main_menu>li:first-child {
        display: none;
    }
    footer.footer .footer_main .footer_main_txt .footer_main_menu>li:last-child {
        display: none;
    }
    footer.footer .footer_main .footer_main_txt .footer_main_menu>li:first-child + li:before {
        content: '';
        display: none;
        margin: 0;
    }
    footer.footer .footer_main .footer_main_info {        
        font-size: 0.9em;
        line-height: 1.481em;
        margin: 3.7% 0 5.09%;
    }
    footer.footer .footer_main .footer_main_info .br_view {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    footer.footer {
        font-size: 25px;
    }
    footer.footer .footer_main .footer_main_logo {
        width: 49.16%;
    }
}

@media screen and (max-width: 700px) {
    footer.footer {
        font-size: 20px;
    }
    footer.footer .footer_main .footer_main_logo {
        width: 54.16%;
    }
}

@media screen and (max-width: 550px) {
    footer.footer {
        font-size: 15px;
    }
    footer.footer .footer_main .footer_main_logo {
        width: 59.16%;
    }
}

@media screen and (max-width: 450px) {
    footer.footer {
        font-size: 12px;
    }
    footer.footer .footer_main .footer_main_logo {
        width: 64.16%;
    }
}

